[defaults]
inventory = inventory.yml
roles_path = roles
host_key_checking = True
stdout_callback = yaml
display_skipped_hosts = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
